extends layout

block meta
  title #{app_name}

block styles
  link(rel="stylesheet", href="/css/base.css")

block content
  include inc/header
  - var curCategoryId = null
  include inc/category-menu
  section.padding-top.padding-bottom
    .row
      each cate in categories
        .column_4
          .category.padding
            h4
              a(href="/category/#{cate.id}").color.theme
                span.icon.tags
                |  #{cate.title}
            .desc= cate.desc
          dl.tags.padding.bck.light
            each curTag in cate.tags
              - var tag = tags[curTag]
              dd
                a(href="/tag/#{tag.id}")
                  span.icon.tag
                  | #{tag.title}
                  if tag.points && tag.points.length > 0
                    small (#{tag.points.length})
  include inc/footer
block script