extends layout

block meta
  title #{curCategory.title} - Base

block styles
  link(rel="stylesheet", href="/css/home.css")

block content
  include inc/header
  //- menu
  section.bck.color
    .row.text.right
      nav.column_12.text(data-tuktuk="menu")
        each cate in categories
          if cate.id === curCategory.id
            a.active(href="/category/#{cate.id}", id="#{cate.id}")= cate.title
          else
            a(href="/category/#{cate.id}", id="#{cate.id}")= cate.title
  //- category info
  section.padding.bck.lightest.text.center.book
    .row
      .column_12
        h1.color.theme= curCategory.title
        h5= curCategory.desc
  //- tag loops
  each curTag in curCategory.tags
    - var tag = tags[curTag]
    //- tag title
    section.bck.theme.text.left.book
      .row
        .column_9.padding
          h3.color.white(id="#tag-#{tag.id}")= tag.title
        .column_3.padding.text.right
          h3
            a(href="#tag-#{tag.id}").color.white.icon.paper-clip
    .bck.light
      .row
        .tag-content.column_12.padding
          if tag.desc
            .desc= tag.desc
          if tag.reference
            h5.color.theme.text.italic Reference
            ul.square
              each refUrl, refTitle in tag.reference
                li
                  a(href=refUrl, target="_blank")
                    = refTitle
                    span.icon.external-link
    if tag.points
      each pointId in tag.points
        - var point = points[pointId]
        .bck.lightest
          .row
            .point-content.column_12.padding
              h3.text.book= point.title
    else
      .bck.lightest
        .row
          .column_12.padding
            small
              | 注：
              code.color.theme #{tag.id}
              |  标签下暂无知识点

  include inc/footer
block script