extends layout

block meta
  title #{curCategory.title} - #{app_name}

block styles
  link(rel="stylesheet", href="/css/category.css")

block content
  include inc/header
  - var curCategoryId = curCategory.id
  include inc/category-menu
  //- category info
  section.padding.bck.lightest.text.center.book
    .row
      .column_12
        h1.color.theme= curCategory.title
        h5= curCategory.desc
  //- tag loops
  each curTag in curCategory.tags
    - var tag = tags[curTag]
    //- tag title
    section.bck.theme.text.left.book
      .row
        .column_9.padding-top.padding-bottom.margin-top-none
          h3.color.white(id="#tag-#{tag.id}")
            a(href="/tag/#{tag.id}").color.white= tag.title
        .column_3.padding-top.padding-bottom.text.right.hide-phone
          h3
            a(href="/tag/#{tag.id}").color.white.icon.link
    if tag.desc || tag.reference
      .bck.light
        .row
          .tag-content.column_12.margin-none.padding-top.padding-bottom
            if tag.desc
              .desc!= marked(tag.desc)
            if tag.reference
              h5.text.italic 参考资料
              ul.square
                each refUrl, refTitle in tag.reference
                  li
                    a(href=refUrl, target="_blank")
                      = refTitle
                      span.icon.external-link
    if tag.points
      .points-container
        each pointId in tag.points
          - var point = points[pointId]
          .bck.lightest
            .row
              .point-content.margin-none.column_12.padding-top.padding-bottom
                h4.margin-none
                  a(href="/p/#{point.id}").color.theme= point.title
                if point.desc
                  .desc!= marked(point.desc)
                if point.relevance
                  h5.text.italic 相关知识点
                  .links-container
                    each relId in point.relevance
                      a(href="/p/#{relId}")
                        span.icon.tag
                        = relId
                if point.reference
                  h5.text.italic 参考资料
                  ul.square
                    each refUrl, refTitle in point.reference
                      li
                        a(href=refUrl, target="_blank")
                          = refTitle
                          span.icon.external-link
    else
      .bck.lightest
        .row
          .column_12.margin-none.padding-top.padding-bottom
            small
              | 注：
              code.color.theme #{tag.id}
              |  标签下暂无知识点

  include inc/footer
block script