extends layout

block meta
  title #{point.title} - #{app_name}

block content
  - var active = 'Base'
  include inc/header
  .container
    .main
      .content
        .crumb
          span.icon-map-marker
          |  #{app_name} &gt; Base &gt; 知识点 “#{point.title}”
        .point-info
          h1= point.title
          +desc(point.desc)
          +level(point.level)
          +links(point)
          +reference(point.reference)
        if point.relevance
          hr
          .relevance
            h2 相关知识点
            for relId in point.relevance
              - var relPoint = points[relId]
              dl
                if relPoint
                  dt
                    span.icon-pushpin
                    a(href="/p/#{relPoint.id}")= relPoint.title
                  if relPoint.desc
                    dd!= marked(relPoint.desc)
                else
                  dt.unknown
                    span.icon-tag
                    | #{relId}
                    em (未入库)
        hr
        .point-tags
          h2 标签
          .point-tags-list
            for category in categories
              - var tagIds = point[category.id]
              if tagIds
                .point-tag
                  span.icon-tag
                  string.point-tag-title= category.title
                  - var tagLen = tagIds.length
                  each tagId, index in tagIds
                    - var tag = tags[tagId]
                    if tag
                      a(href="/tag/#{tag.id}")= tag.title
                    else
                      em= tagId
                    if tagLen !== index + 1
                      | , 
        include inc/app-info


    include inc/tag-list
