extends layout

block meta
  title #{tag.title} - #{app_name}

block content
  - var active = 'Base'
  include inc/header

  - var curCategory = categories[tag.parent]
  .container
    .main
      .content
        .crumb
          span.icon-map-marker
          |  #{app_name} &gt; #{active} &gt; 按 “#{curCategory.title}” 查看
        .tag-info
          h1= tag.title
          +desc(tag.desc)
          +level(tag.level)
          +reference(tag.reference)
        if tag.points
          each pointId in tag.points
            - var point = points[pointId]
            hr
            .point-info
              h2
                a(href="/p/#{point.id}")= point.title
              +desc(point.desc)
              +links(point)
        include inc/app-info

    -var curTagId = tag.id
    include inc/tag-list
